*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 'Open Sans', sans-serif;
    font-size: 16px;
     height: 100vh;
     display: grid;
     grid-template-areas: 
     'header header header'
     'nav content sidebar'
     'nav footer footer' ;
     grid-template-columns: 1fr 4fr 1fr;
     grid-template-rows: 80px 1fr 70px;
}

header,
footer,
main,
aside,
nav{
    background-color: steelblue;
    color: #fff;
    padding: 20px;
    border: skyblue 1px solid;
}

header{
    position: fixed;
    width: 100%;
    grid-area: header;
    background-color: rgb(44, 177, 44);
    /* padding: 10px; */
    
}
.header{
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .header ul{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 20px; 
  
 }

 .header ul li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
 }
nav{
    grid-area: nav;
    background: aqua;
    position: fixed;
    top: 125px;
    left: 0px;
    width: 210px;
    height: 100%;
}

main{
    grid-area: content;
}

aside{
    grid-area: sidebar;
}

footer{
    grid-area: footer;
}

.sidebar {
    
    /* width: 200px;
    height:100% ; */
    /* background: linear-gradient(45deg,#1f9e14,#317a31); */
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
    z-index: 2;
}

.sidebar ul li{
    width: 100%;
    list-style: none;
}


.sidebar ul li:hover{
   background: #444; 
}

.sidebar ul li:first-child{
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid #000;
}


.sidebar ul li:first-child:hover{
    background: none;
}
.sidebar ul li a {
    width: 1005;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60x;
    font-size: 24px;
    text-align: center;
}

/* .sidebar .title {
    padding: 0 10px;
    font-size:20px;
} */


.main{
    position: absolute;
    /* width: calc(100%-300px); */
    min-height: 1vh;
    left: 300px; 
    background-color: #db2121;
     /* float: right;  */
    margin-top: 60px;
}

.top-bar{
    position: absolute;
    height: 60px;
    width: calc(100% - 300px);
    background: #fff;
    display: grid;
    grid-template-columns: 10fr 0.4fr 1fr;
    grid: gap 5px;
    align-items: center;
    color: #444;
    padding: 0 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0 0.2);
    z-index: 1;
}

/* .top-bar .search {
    position: relative;
    max-width: 400px;
    padding-left: 600px;
    background-color: #961123;
} */

.search button{
    padding-top: 0px;
    height:40px ;
    width: 60px;
    border-radius: 5px;
}

.search {
    /* background:#7f7f7f; 
   height: 545px; width: 25%;  */
   /* margin-left: 75%; */
   display: flex;
   gap: 15px;
   padding-top: 0px;
}

img{
    height: 80px;
    width: 80px;
    border-radius: 20px;
}